@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&display=swap");

/* Explicitly declared colors to be dynamically inserted, so Tailwind doesn't get rid of them */
.customSlate {
  background-color: #f8fafc;
}

.customBlue {
  background-color: #eff6ff;
}

.customPurple {
  background-color: #faf5ff;
}

.customRed {
  background-color: #fef2f2;
}

.customOrange {
  background-color: #fff7ed;
}

.customGreen {
  background-color: #f0fdf4;
}
