---
import BaseLayout from "../../layouts/BaseLayout.astro";
import FrontPosts from "../../components/FrontPosts.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
const tags = [...new Set(posts.map((post) => post.data.tags).flat())];
---

<BaseLayout pageTitle="Subjects | Stef.dev">
  <h1>Tags</h1>
  <ul>
    {
      tags.map((tag) => (
        <p>
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </ul>
</BaseLayout>
