---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroComponent from "../components/HeroComponent.astro";
const allPosts = await Astro.glob("./blog/*.md");
---

<BaseLayout pageTitle="Stef.dev | Blog">
  <div class="mx-1">
    <HeroComponent />

    <hr class="mx-auto max-w-4xl my-8" />

    <div class="latest-posts mx-auto max-w-2xl">
      <h2 class="mx-auto font-bold text-2xl">Recent Posts</h2>
      <ul>
        {
          allPosts.map((post) => (
            <li>
              <a href={post.url}>{post.frontmatter.title}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</BaseLayout>
