---
---

<footer class="mt-6">
  <nav class="mx-auto p-6 lg:px-8" aria-label="Global">
    <div class="flex justify-center">
      <a href="/" class="-m-1.5 p-1.5">
        <p class="font-mono flex text-2xl font-bold text-gray-400">
          Stef.dev © {new Date().getFullYear()}
        </p>
      </a>
    </div>
  </nav>
</footer>
