---
---

<header class="border-b-2">
  <nav class="mx-auto p-6 lg:px-8" aria-label="Global">
    <div class="flex">
      <a href="/" class="-m-1.5 p-1.5">
        <p class="font-mono flex text-2xl font-bold">Stef.dev</p>
      </a>
    </div>
  </nav>
</header>
