---
import TagComponent from "./TagComponent.astro";
---

<div class="pt-14 lg:px-8">
  <div class="grid mx-auto max-w-2xl">
    <div class="text-center">
      <h1
        class="font-mono text-4xl tracking-tight dark:text-white text-gray-900 sm:text-5xl"
      >
        Stef.dev
      </h1>
      <p
        class="mt-6 leading-5 text-sm sm:text-lg leading-8 dark:text-slate-400 text-gray-600"
      >
        Welcome to my Dev Log. I write about Language Learning, Web Development
        and other interests of mine. Below you can browse some of the subjects
        I've written on, or see my recent projects <a
          href="#"
          class="text-blue-600">here.</a
        >👇
      </p>
    </div>
    <TagComponent />
  </div>
</div>
