---
const jsLogo = import("../../public/JavaScript-logo.png");
---

<!-- grid grid-flow-row grid-cols-2 gap-2 sm:grid-cols-4 mt-8 -->
<div class="pt-14 lg:px-8">
  <div class="grid mx-auto max-w-2xl">
    <div class="text-center">
      <h1 class="font-mono text-4xl tracking-tight text-gray-900 sm:text-5xl">
        Stef.dev
      </h1>
      <p class="mt-6 leading-5 text-sm sm:text-lg leading-8 text-gray-600">
        Welcome to my Dev Log. I write about Language Learning, Web Development
        and other interests of mine. Below you can browse some of the subjects
        I've written on, or see my recent projects here.
      </p>
    </div>
    <div class="subject-pills">
      <div class="grid grid-cols-2 gap-2 sm:grid-cols-4 mt-8">
        <span
          class="justify-center w-auto flex items-center rounded-md bg-green-50 px-2 py-2 text-s font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10"
          >Code<img src="/JavaScript-logo.png" class="w-8 rounded pl-2" /></span
        >
        <span
          class="justify-center inline-flex items-center rounded-md bg-blue-50 px-2 py-2 text-s font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10"
          >Language<img
            src="/JavaScript-logo.png"
            class="w-8 rounded pl-2"
          /></span
        >
        <span
          class="justify-center inline-flex items-center rounded-md bg-yellow-50 px-2 py-2 text-s font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10"
          >Fitness<img
            src="/JavaScript-logo.png"
            class="w-8 rounded pl-2"
          /></span
        >
        <span
          class="justify-center inline-flex items-center rounded-md bg-red-50 px-2 py-2 text-s font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10"
          >Art<img src="/JavaScript-logo.png" class="w-8 rounded pl-2" /></span
        >
        <span
          class="justify-center inline-flex items-center rounded-md bg-yellow-50 px-2 py-2 text-s font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10"
          >Game Design<img
            src="/JavaScript-logo.png"
            class="w-8 rounded pl-2"
          /></span
        >
        <span
          class="justify-center inline-flex items-center rounded-md bg-blue-50 px-2 py-2 text-s font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10"
          >Japan<img
            src="/JavaScript-logo.png"
            class="w-8 rounded pl-2"
          /></span
        >
        <span
          class="justify-center inline-flex items-center rounded-md bg-blue-50 px-2 py-2 text-s font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10"
          >Photography<img
            src="/JavaScript-logo.png"
            class="w-8 rounded pl-2"
          /></span
        >
        <span
          class="justify-center inline-flex items-center rounded-md bg-green-50 px-2 py-2 text-s font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10"
          >Code<img src="/JavaScript-logo.png" class="w-8 rounded pl-2" /></span
        >
        <span
          class="justify-center inline-flex items-center rounded-md bg-red-50 px-2 py-2 text-s font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10"
          >Code<img src="/JavaScript-logo.png" class="w-8 rounded pl-2" /></span
        >
      </div>
    </div>
  </div>
</div>
