---
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
const tags = [...new Set(posts.map((post) => post.data.tags).flat())];
const tagStyles = {
  Dev: "customBlue",
  Fitness: "customRed",
  "How To Learn": "customOrange",
  Thoughts: "customPurple",
  "Language Learning": "customGreen",
  Astro: "customBlue",
  Tools: "customGreen",
};
---

<div class="subject-pills">
  <div class="flex flex-wrap justify-center gap-4 mt-8">
    {
      tags.map((tag) => (
        <a href={`tags/${tag}`}>
          <span
            class={`${
              tagStyles[tag] || "customSlate"
            } justify-center w-auto flex items-center rounded-md  px-2 py-2 text-s text-grey-500 font-medium ring-1 ring-inset ring-gray-500/10`}
          >
            {tag}
          </span>
        </a>
      ))
    }
  </div>
</div>
