---
import BaseLayout from "./BaseLayout.astro";
import "../styles/global.css";
// Receive the post object as props
const { pageTitle, ...post } = Astro.props;
---

<BaseLayout pageTitle={post.title}>
  <div class="pt-14 lg:px-8">
    <div class="mx-auto max-w-2xl">
      <div class="text-center">
        <h1 class="font-mono text-4xl tracking-tight text-gray-900 sm:text-5xl">
          {post.title}
        </h1>
        <div class="mt-2 mx-auto text-sm text-gray-500">
          <svg
            class="mr-1.5 h-5 w-5 inline-flex text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z"
              clip-rule="evenodd"></path>
          </svg>
          {post.pubDate}
        </div>
        <p class="mt-6 leading-5 text-sm sm:text-lg leading-8 text-gray-600">
          {post.description}
        </p>
      </div>
    </div>
  </div>
  <hr class="mx-auto max-w-4xl my-8" />
  <div class="mx-auto max-w-2xl px-4 sm:px-0 text-sm sm:text-lg text-gray-600">
    <!-- Render the actual post file content. 
        Markdown renders text in <p> tags by default so no need to wrap this <slot /> -->
    <article class="prose">
      <slot />
    </article>
  </div>
</BaseLayout>
