---
import BaseLayout from "./BaseLayout.astro";
import "../styles/global.css";
const { pageTitle, ...post } = Astro.props;
---

<BaseLayout pageTitle={post.title}>
  <article>
    <h1>{post.title}</h1>
    <p><slot /></p>
  </article>
</BaseLayout>
